header > h1 {
text-align: center;
color: white;
font-weight: bold;
background-image: linear-gradient(to right, #3b6cc2, #240758);
}

main {
    padding-top: 1vh;
}

main h1 {
    font-weight: bold;
}

.forecastCard {
    background-color: #33465b
}

#citySearchForm button{
    font-size: 2vh;
    color: #dadee3;
    background-color: #5ba3e9;
}
#citySearchForm input {
    color: #dadee3;
    font-size: 2.25vh;
}

#previousSearches {
    border-top: .25vh solid;
}

#previousSearches button {
    background-color: #b7b7b7;

} 

#previousSearches button:hover {
    background-color: #797979;
}

#currentWeatherContainer p {
    font-size: larger;
    font-weight: 600;
}

#currentWeatherIcon {
    background: white;
    border-radius: 3rem;
}

#currentWeatherUV {
    color: #ffffff;
    padding: 0 10px 0 10px;
    border-radius: .4rem;
}

#forecastContainer {
    display: flex;
    justify-content: space-between;
}

#forecastContainer div {
    color: #ffffff;
    min-width: 19%;
    padding-left: 0.5em;
    font-weight: 600;
    font-size: 1.25em;
}
